{
    "roomLabel": "Public",
    "roomCategory": "public",
    "roomName": "🏐 Volleyball [chds] | PUBLIC #{num} 🏐",
    "count": 1,
    "numbering": true,
    "maxPlayers": 14,
    "mode": "public",
    "defaultMatchPoint": 6,
    "defaultTeamPickMode": "captains",
    "defaultWinstay": true,
    "defaultTeamSize": 2,
    "queueMatches": 2,
    "upTeamSizePlayers": 8,
    "vipSlots": 2,
    "vipQueueRoles": ["vip", "preadmin", "master"],
    "vipUpCooldownMs": 600000,
    "GhostKick": true,
    "gamesTimeout": 5,
    "maxInactivity": 20,
    "joinAuths": false,
    "Discord": "https://discord.gg/LINK_EXAMPLE",
    "Telegram": "https://t.me/LINK_EXAMPLE"
}