HAXBALL_TOKEN = "{haxball token here}"
ROOM_PASSWORD = "{room password here or '' for no password}"
REPLAY_WEBHOOK_URL = "{replay webhook URL here or ''}"
VIP_WEBHOOK_URL = "{vip webhook URL here or ''}"